<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1><%= user.getName() %></h1>
            <h4><span class="glyphicon glyphicon-lamp"></span><em><%=user.role %></em></h4>
            <p><%= user.description %></p>
            <p><em><%= user.getSmartSentence() %> <%= user.getBirthSentence() %></em></p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
